@model IEnumerable<ioliu.Domain.SystemUsers>
@{
    ViewData["Title"] = "Home Page";

}

<link rel="stylesheet" href="./editor.md/css/editormd.css" />

<div class="text-center" style="width:100%;height: 100%">
    <table>
        @foreach (ioliu.Domain.SystemUsers systemUsers in Model)
        {
            <tr>
                <td>@systemUsers.UserName</td>
                <td>@systemUsers.PassWord</td>
            </tr>
        }

        

    </table>
    <div id="editor" >
        <textarea style="display:none;" id="blog_content">  </textarea>
    </div>
    <div id="blog_sub">
        <button id="sub_Content">提交</button>
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="./editor.md/editormd.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var editor = editormd("editor", {
                // width  : "100%",
                // height : "100%",
                path: "./editor.md/lib/"
            });
        });
    </script>
</div>
